.letterHeader {
	margin: auto;
  	width: 50px;
  	text-align: center;
  	font-size: 30px;
	overflow: hidden;
	white-space: nowrap;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.txtheader {
	text-align: center;
}
.txtcontent {
	text-align: center;
	padding-bottom: 40px;
}
.txtpad {
	margin-left: -100px;
}
.bold {
	font-weight: bold;
}
.audio {
	margin-left: 400px;
	font-size: 20px;
	padding-top: 20px;
}
.wordPad {
	margin-left: -20px;
	font-size: 20px;
	padding-top: 20px;
}
.symb {
	margin-left: -450px;
	font-size: 20px;
	padding-top: 20px;
}
#but {
	float:right;
	margin-top: 30px;
	background: rgb(116, 194, 116);
	border: 1px solid rgb(116, 194, 116);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}
#but:hover,
#but:active {
  background-color: initial;
  background-position: 0 0;
  color: #666666;
}
#but:active {
  opacity: .5;
}

#letters {
	background-color: #00FF7F;
	float: left;
	margin-top: 30px;
}
.numHeader {
	text-align: center;
}
.numcontent {
	text-align: center;
	padding-bottom: 40px;
}

#learningDropDown {
	margin: 10px;
}
.button-solid {
    border: none;
	background-color: transparent;
}
button-solid:focus {
    border: none;
    outline: none;
}
.nums {
	padding-top: 7px;
}
.numLeftMorse {
	padding-top: 7px;
	margin-left: -20px;
}
.numRight {
	padding-top: 7px;
}
.numMorse {
	padding-top: 7px;
	margin-left: -20px;
}
body{
	background-color: #dcecd0;
}
#playButton{
	width: 30px;
	height: 30px;
}
#nav-head{
	font-weight: bold;
	color: white;
	font-size: 20px;
}
#nav-option{
	font-size: 15px;
	color: white;
}
#nav-option:hover{
	color: gray;
	font-weight: bold;
}
.navbar-custom {
    background-color: rgb(116, 194, 116);
}