.letterHeader {
	margin: auto;
  	width: 50px;
  	text-align: center;
  	font-size: 30px;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.txtheader {
	margin-left: 400px;
}
.txtcontent {
	margin-left: 200px;
	padding-bottom: 40px;
}
.txtpad {
	margin-left: -100px;
}
.bold {
	font-weight: bold;
}
.wordPad {
	padding-left: 450px;
	font-size: 20px;
	padding-top: 20px;
}
.symbPad {
	font-size: 20px;
	padding-top: 20px;
}
#next_button {
	background-color: #00FF7F;
	float: right;
	margin-top: 30px;
}
#nums {
	background-color: #00FF7F;
	float: right;
	margin-top: 30px;
}
#letters {
	background-color: #00FF7F;
	float: left;
	margin-top: 30px;
}
.nums {
	padding-left: 350px;
}
.numRight {
	padding-left: 175px;
}
.numMorse {
	margin-left: -50px;
}
.numLeftMorse {
	margin-left: 125px;
}
.numHeader {
	margin-left: 325px;
}
.numcontent {
	margin-left: 325px;
	padding-bottom: 40px;
}