.letterHeader {
	margin: auto;
  	width: 50px;
  	text-align: center;
  	font-size: 30px;
	overflow: hidden;
	white-space: nowrap;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.txtheader {
	text-align: center;
}
.txtcontent {
	text-align: center;
	padding-bottom: 40px;
}
.txtpad {
	margin-left: -100px;
}
.bold {
	font-weight: bold;
}
.audio {
	margin-left: 400px;
	font-size: 20px;
	padding-top: 20px;
}
.wordPad {
	margin-left: -20px;
	font-size: 20px;
	padding-top: 20px;
}
.symb {
	margin-left: -450px;
	font-size: 20px;
	padding-top: 20px;
}
#next_button {
	background-color: #00FF7F;
	float: right;
	margin-top: 30px;
}
#nums {
	background-color: #00FF7F;
	float: right;
	margin-top: 30px;
}
#letters {
	background-color: #00FF7F;
	float: left;
	margin-top: 30px;
}
.numHeader {
	text-align: center;
}
.numcontent {
	text-align: center;
	padding-bottom: 40px;
}

#learningDropDown {
	margin: 10px;
}
.button-solid {
    border: none;
	background-color: transparent;
}
button-solid:focus {
    border: none;
    outline: none;
}
.nums {
	padding-top: 7px;
}
.numLeftMorse {
	padding-top: 7px;
	margin-left: -20px;
}
.numRight {
	padding-top: 7px;
}
.numMorse {
	padding-top: 7px;
	margin-left: -20px;
}
body{
	background-color: #dcecd0;
}
#playButton{
	width: 30px;
	height: 30px;
}
#nav-head{
	font-weight: bold;
	color: white;
	font-size: 20px;
}
#nav-option{
	font-size: 15px;
	color: white;
}
#nav-option:hover{
	color: gray;
	font-weight: bold;
}
.navbar-custom {
    background-color: rgb(116, 194, 116);
}