{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>

<script>
    let score = {{ score| tojson}}
    
    $(document).ready(function () {    
        $("#score").text(score + "/5")
        $("#yes").click(function() {
            window.location.href = "/quiz_home"
        }) 
        $("#no").click(function() {
            window.location.href = "/"
        }) 
    });

</script>

<div id="end_container">
    <h1>Quiz</h1>
    <h2>Level: Easy</h2>
    <br>
    <div>You have finished the Quiz and recieved the following score: </div>
    <h1 id="score"> </h1>
    <div>Would you like to try again?</div>
    <button class="quiz-btn" id="yes">Yes</button>
    <button class="quiz-btn" id="no">No</button>
</div>


{% endblock %}