{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>

<script>
    let score = {{ score| tojson}}

    $(document).ready(function () {
        $("#score").text(score + "/5")
        $("#yes").click(function () {
            window.location.href = "/quiz_home"
        })
        $("#no").click(function () {
            window.location.href = "/"
        })
    });

</script>

<div id="end-container">
    <h1 class="txtheader">Quiz</h1>
    <h2 class="txtheader">Level: Easy</h2>
    <br>
    <div class="txtheader">You have finished the Quiz and recieved the following score: </div>
    <h1 class="txtheader" id="score"> </h1>
    <br>
    <div class="txtheader">
        Would you like to try again?
        <br>
        <span class="txtheader">
            <button class="dropbtn" id="yes">Yes</button>
            <button class="dropbtn" id="no">No</button>
        </span>
    </div>

</div>


{% endblock %}