{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div id="home-container">
    <h1>Morse Code</h1>
    <b>Basic Information</b>
    <p>Morse code is comprised of two signal units. “Dit”, which is represented by the character ·, and “dah”, which is
        represented by the character –
        <br><br>
        The dit (which is pronounced with a silent “t”) has a short single syllable sound whereas the dah lasts as long
        as three dits.
    </p>
    <span>Dit:
        <button class="button-solid" id="play" onclick="play('Dit')">
            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
        </button> Dah: <button class="button-solid" id="play" onclick="play('Dah')">
            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
        </button>
    </span>
    <p>
        There should be one dit’s worth of time between the dits and dahs of a single letter, one dah’s worth of time between letters in a word, and seven dit’s worth of time between words in a sentence. 
    </p>
    <span>"A":
        <button class="button-solid" id="play" onclick="play('A')">
            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
        </button> 
        "CAT": 
        <button class="button-solid" id="play" onclick="play('CAT')">
            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
        </button>
        "OK BYE": 
        <button class="button-solid" id="play" onclick="play('OK BYE')">
            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
        </button>
    </span>
</div>


{% endblock %}