{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

<div id="home-container">
    <h1>Morse Code</h1>
    <img id = "machine"><br><br>
    <b>Basic Information</b>
    <p>Morse code is comprised of two signal units. “Dit”, which is represented by the character ·, and “dah”, which is
        represented by the character –
        <br><br>
        The dit (which is pronounced with a silent “t”) has a short single syllable sound whereas the dah lasts as long
        as three dits.
    </p>
    <span>Dit:
        <button class="button-solid" id="play" onclick="play('Dit')">
            <img id="playButton">
        </button> Dah: <button class="button-solid" id="play" onclick="play('Dah')">
            <img id="playButton">
        </button>
    </span>
    <p>
        There should be one dit’s worth of time between the dits and dahs of a single letter, one dah’s worth of time between letters in a word, and seven dit’s worth of time between words in a sentence. 
    </p>
    <span>
        "A":
        <button class="button-solid" id="play" onclick="play('A')">
            <img id="playButton">
        </button> 
        "CAT": 
        <button class="button-solid" id="play" onclick="play('CAT')">
            <img id="playButton">
        </button>
        "OK BYE": 
        <button class="button-solid" id="play" onclick="play('OK BYE')">
            <img id="playButton">
        </button>
    </span><br><br>
    <b>History</b>
    <p>Morse code was developed in the 1830s-1840s by Samuel Morse and a few other inventors.
        By transmitting electrical signals over a wire laid between stations, it was able to
        allow for complex messages to be sent across telegraph lines.
        <br><br>In 1844 the first message was sent from Washington D.C. to Baltimore Maryland
        and by 1866 a telegraph line had been laid across the Atlantic Ocean from the U.S. to Europe!
    </p>
</div>


{% endblock %}