{% extends "layout.html" %}

{% block content %}


<script>
    let data = {{ data| tojson}} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


<div class="container">
    <div class="row letterHeader">
        <div class="col-md-12">
            {{data.letter}}
        </div>
    </div>
    <div class="row letterHeader">
        <div class="col-md-12">
            {{data.morse}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button id="play" onclick="play()">
                <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.letter}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button id="play" onclick="play()">
                <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word1}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse1}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button id="play" onclick="play()">
                <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word2}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse2}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button id="play" onclick="play()">
                <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word3}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse3}}
        </div>
    </div>
    
    <button id="next_button">Next Easy Letter</button>

</div>


{% endblock %}