{% extends "layout.html" %}

{% block content %}


<script>
    let data = {{ data| tojson}} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


<div class="container">
    <div class="letterHeader">
        {{data.letter}}
        <br>
        {{data.morse}}
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button class="button-solid" id="play" onclick="play()">
                <img id="playButton">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.letter}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button class="button-solid" id="play1" onclick="play1()">
                <img id="playButton">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word1}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse1}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button class="button-solid" id="play2" onclick="play2()">
                <img id="playButton">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word2}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse2}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 audio">
            <button class="button-solid" id="play3" onclick="play3()">
                <img id="playButton">
            </button>
        </div>
        <div class="col-md-5 wordPad">
            {{data.word3}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 symb">
            {{data.morse3}}
        </div>
    </div>
    {% if data.next_lesson!="1" %}
    <button id="but">Next Easy Letter</button>
    {% else %}
    <button id="but">Start Quiz</button>
    {% endif %}

</div>


{% endblock %}