{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{ data| tojson}} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'numbers.js') }}"></script>
<div class="container">
    <div class="row numHeader">
        <div class="col-md-12">
            <h1>Numbers and Punctuation</h1>
        </div>
    </div>
    <div class="row numcontent">
        <div class="col-md-12">
            The easy and medium level quizzes will not cover these characters
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <button class="button-solid" id="play1" onclick='play(1)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play2" onclick='play(2)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play3" onclick='play(3)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play4" onclick='play(4)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play5" onclick='play(5)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play6" onclick='play(6)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play7" onclick='play(7)'>
                        <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="nums">{{data["1"].char}}</div>
                    <div class="nums">{{data["2"].char}}</div>
                    <div class="nums">{{data["3"].char}}</div>
                    <div class="nums">{{data["4"].char}}</div>
                    <div class="nums">{{data["5"].char}}</div>
                    <div class="nums">{{data["6"].char}}</div>
                    <div class="nums">{{data["7"].char}}</div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="numLeftMorse">{{data["1"].morse}}</div>
                    <div class="numLeftMorse">{{data["2"].morse}}</div>
                    <div class="numLeftMorse">{{data["3"].morse}}</div>
                    <div class="numLeftMorse">{{data["4"].morse}}</div>
                    <div class="numLeftMorse">{{data["5"].morse}}</div>
                    <div class="numLeftMorse">{{data["6"].morse}}</div>
                    <div class="numLeftMorse">{{data["7"].morse}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <button class="button-solid" id="play8" onclick='play(8)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play9" onclick='play(9)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play10" onclick='play(10)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play11" onclick='play(11)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play12" onclick='play(12)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play13" onclick='play(13)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                    <div>
                        <button class="button-solid" id="play14" onclick='play(14)'>
                            <img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="numRight">{{data["8"].char}}</div>
                    <div class="numRight">{{data["9"].char}}</div>
                    <div class="numRight">{{data["10"].char}}</div>
                    <div class="numRight">{{data["11"].char}}</div>
                    <div class="numRight">{{data["12"].char}}</div>
                    <div class="numRight">{{data["13"].char}}</div>
                    <div class="numRight">{{data["14"].char}}</div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="numMorse">{{data["8"].morse}}</div>
                    <div class="numMorse">{{data["9"].morse}}</div>
                    <div class="numMorse">{{data["10"].morse}}</div>
                    <div class="numMorse">{{data["11"].morse}}</div>
                    <div class="numMorse">{{data["12"].morse}}</div>
                    <div class="numMorse">{{data["13"].morse}}</div>
                    <div class="numMorse">{{data["14"].morse}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button id="letters">Letters</button>
</div>

{% endblock %}