{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{ data| tojson}} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'numbers.js') }}"></script>
<div class="container">
    <div class="row numHeader">
        <h1>Numbers and Punctuation</h1>
    </div>
    <div class="row numcontent">
        The easy and medium level quizzes will not cover these characters
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="nums">{{data["1"].character}}</div>
                    <div class="nums">{{data["2"].character}}</div>
                    <div class="nums">{{data["3"].character}}</div>
                    <div class="nums">{{data["4"].character}}</div>
                    <div class="nums">{{data["5"].character}}</div>
                    <div class="nums">{{data["6"].character}}</div>
                    <div class="nums">{{data["7"].character}}</div>
                </div>
                <div class="col-md-6">
                    <div class="numLeftMorse">{{data["1"].morse}}</div>
                    <div class="numLeftMorse">{{data["2"].morse}}</div>
                    <div class="numLeftMorse">{{data["3"].morse}}</div>
                    <div class="numLeftMorse">{{data["4"].morse}}</div>
                    <div class="numLeftMorse">{{data["5"].morse}}</div>
                    <div class="numLeftMorse">{{data["6"].morse}}</div>
                    <div class="numLeftMorse">{{data["7"].morse}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="numRight">{{data["8"].character}}</div>
                    <div class="numRight">{{data["9"].character}}</div>
                    <div class="numRight">{{data["10"].character}}</div>
                    <div class="numRight">{{data["11"].character}}</div>
                    <div class="numRight">{{data["12"].character}}</div>
                    <div class="numRight">{{data["13"].character}}</div>
                    <div class="numRight">{{data["14"].character}}</div>
                </div>
                <div class="col-md-6">
                    <div class="numMorse">{{data["8"].morse}}</div>
                    <div class="numMorse">{{data["9"].morse}}</div>
                    <div class="numMorse">{{data["10"].morse}}</div>
                    <div class="numMorse">{{data["11"].morse}}</div>
                    <div class="numMorse">{{data["12"].morse}}</div>
                    <div class="numMorse">{{data["13"].morse}}</div>
                    <div class="numMorse">{{data["14"].morse}}</div>
                </div>
            </div>
        </div>
    </div>
    <button id="letters">Letters</button>
</div>

{% endblock %}