{% extends "layout.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let question = {{ question| tojson}}

    function checkAnswer() {
        $.ajax({
            type: "POST",
            url: "check_answer",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({"answer" : $("#answer").val(), "question_id" : question.number-1}),
            success: function (result) {
                console.log(result);
                $("#submit").prop("disabled", true);
                if(result["correct"])
                    $("#message").text("CORRECT! Fantastic job");
                else
                    $("#message").text("Incorrect...the right answer is " + question.answer);
            },
            error: function (request, status, error) {
                console.log("Error");
                console.log(request)
                console.log(status)
                console.log(error)
            }
        });

    }

    $(document).ready(function () {
        // Add correct instruction depending on type of question
        instructions = document.getElementById("instructions")
        variable = document.getElementById("variable")
        /* Switch doesnt work for some reason
        switch({{question.question_type}}){
            case "0": 
                instructions.append("Please listen to the following word in morse and type in the correct english translation");
                break;
            case "1": 
                instructions.append("1")
                break;
            case "2": 
                instructions.append("2")
                break;  
            break;
        }
        */
        if (question.question_type == "morse_english") {
            instructions.append("Please listen to the following word in morse and type in the correct english translation")
            let play = $('<img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">')
                $("#variable").prepend(play)
            $("#Audio").prepend("Audio: {{question.transcription}}")
        }
        if (question.question_type == "sound_morse") {
            instructions.append("Please listen to the following morse code and type in the correct morse translation. The morse may be of letters you have not learned yet. Please use periods and dashes with no spaces between them for individual letters. Place one space between each letter")
            let play = $('<img src="https://www.pinclipart.com/picdir/middle/68-680890_audio-play-blue-button-clipart.png" width="40" height="30">')
                $("#variable").prepend(play)
        }
        if (question.question_type == "english_morse") {
            instructions.append("Please consider the following English word and type in the correct morse translation. Please use periods and dashes with no spaces between them for individual letters. Place one space between each letter")
            variable.append("{{question.word}}")
        }

        document.getElementById("Next").onclick = function () {
            location.href = "/quiz/{{question.next_question}}";
        };

        document.getElementById("Prev").onclick = function () {
            if (question.prev_question == "-1"){
                location.href = "/quiz_home"
            }
            else{
                location.href = "/quiz/{{question.prev_question}}";
            }
            

        };
    })
</script>

<div id="quiz_title">
    <h1>Quiz</h1>
    Level: {{question.difficulty}}
    <br>
    Question {{question.number}} of 5
</div>

<br>
<div id="instructions">Instructions: </div>

<br>
<div id="Audio"></div>

<div>
    <span id="variable"></span>
    <input id="answer" placeholder="Enter Your Answer Here" aria-label="Search" name="search">
    <button id="submit" onclick="checkAnswer()">Submit</button>
</div>
<br>
<div id="message"></div>
<br>
<div>
    <button id="Prev">Previous Question</button><br>
</div>
<div>
    <button id="Next">Next Question</button><br>
</div>








{% endblock %}